body {
    background-color: #1F2224;
    color: white;
  }
  
  .card {
    background-color: #1c1c1c;
    border: none;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .modal-content {
    background-color: #2a2a2a;
    color: white;
  }

  .pelicula-img {
    height: 400px;         /* Tamaño uniforme para todas las imágenes */
    object-fit: cover;     /* Recorta sin deformar */
    width: 100%;
  }

  @media (max-width: 768px) {
    .pelicula-img {
      height: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .pelicula-img {
      height: 200px;
    }
  }
  